body {
    font-family: 'Open Sans', 'sans-serif';
    margin: 0;
}

h1, h2 {
    font-family: 'caveat', cursive;
    font-weight: 400;
}

h1 {
    font-size: 80px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin-top: 0;
}

h3 {
    margin: 0;
}

nav {
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
}

nav a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    color: black;
}

@media (min-width: 440px) {
    nav a {
        margin: 14px;
        font-size: 16px;
    }
}

header {
    position: relative;
    padding-top: 50px;
    text-align: center;
    background-color: black;
    color: grey;
}

header h1, header h2 {
    color: antiquewhite;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 60px 50px;
    max-width: 950px;
    overflow: hidden;
}

@media (min-width: 935px) {
    .box {
        flex-direction: row;
    }

    h1 {
        writing-mode: vertical-lr;
    }
}

.imgStyle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media (min-width: 440px) {
    .imgStyle {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 935px) {
    .imgStyle {
        width: 300px;
        height: 250px;
    }
}

.btn {
    text-decoration: none;
    background: red;
    color: white;
    padding: 0 5px 0 5px;
}

@media (min-width: 440px) {
    .btn {
        padding: 10px;
    }
}

.download {
    position: absolute;
    right: 0;
    bottom: 0;
}

.work-experience {
    padding-top: 40px;
    background-color: #EDF2F4;
}

.work-wrapper {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 950px;
}

.job-wrapper {
    display: block;
    padding-bottom: 30px;
}

@media (min-width: 935px) {
    .job-wrapper {
        display: grid;
        grid-template-columns:1fr 2.5fr;
        column-gap: 30px;
    }
}

h3 ~ p {
    margin: 0;
}

@media (min-width: 935px) {
    .job-description p:first-of-type {
        margin-top: 0;
    }
}

.eduction {
    padding: 40px 0;
    background: linear-gradient(rgba(141, 153, 174, 0.9), rgba(141, 153, 174, 0.7)), url(./assets/images/bg.png) no-repeat fixed;
    background-size: cover;
}

footer {
    text-align: center;
    background-color: #282D42;
    color: #8099AE
}

.contact-wrapper {
    margin: 0 auto;
    padding: 50px 0;
    max-width: 900px;
}

.contact-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.media-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #8099AE solid 2px;
}

.media-pic:hover {
    transform: scale(1.1)
}

p + h3 {
    margin-top: 30px;
}

footer p {
    margin-top: 50px;
}
